# Ignora tudo exceto o tema
/*
!.gitignore
!assets/
!assets.old/
!js/
!admin_functions.php
!admin.css
!customized-cart.php
!footer.php
!funcionamento.php
!functions.php
!header.php
!Home.php
!index.php
!loader.css
!loader.js
!Page-about-us.php
!Page-afiliados.php
!page-checkout.php
!page-completar-cadastro.php
!Page-contacts.php
!Page-contato.php
!Page-faq.php
!Page-funcionamento.php
!page-login-or-register.php
!page-login-ou-cadastrese.php
!page-login-para-comprar.php
!page-my-account.php
!page-privacy-policy.php
!Page-products.php
!Page-produtos.php
!page-reset-password.php
!Page-sobre-nos.php
!page.php
!single-product.php
!style.css
!woocommerce_functions.php
!.github/
